USE [HangmanHero]
GO
/****** Object:  Table [dbo].[GameHistories]    Script Date: 7/18/2025 10:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameHistories](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[WordId] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[Mistakes] [int] NOT NULL,
	[TimeTaken] [int] NOT NULL,
	[PlayedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 7/18/2025 10:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[JoinDate] [datetime] NULL,
	[DefaultDifficulty] [nvarchar](10) NOT NULL,
	[Role] [int] NULL,
 CONSTRAINT [PK__Players__4A4E74C84857CBD4] PRIMARY KEY CLUSTERED 
(
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 7/18/2025 10:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[WordId] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Difficulty] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GameHistories] ON 

INSERT [dbo].[GameHistories] ([GameId], [PlayerId], [WordId], [Score], [Mistakes], [TimeTaken], [PlayedAt]) VALUES (4, 1, 2, 100, 1, 45, CAST(N'2025-07-18T20:55:25.640' AS DateTime))
INSERT [dbo].[GameHistories] ([GameId], [PlayerId], [WordId], [Score], [Mistakes], [TimeTaken], [PlayedAt]) VALUES (5, 2, 3, 80, 2, 60, CAST(N'2024-07-10T15:30:00.000' AS DateTime))
INSERT [dbo].[GameHistories] ([GameId], [PlayerId], [WordId], [Score], [Mistakes], [TimeTaken], [PlayedAt]) VALUES (6, 3, 4, 60, 4, 90, CAST(N'2024-07-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[GameHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[Players] ON 

INSERT [dbo].[Players] ([PlayerId], [Username], [PasswordHash], [JoinDate], [DefaultDifficulty], [Role]) VALUES (1, N'sang01', N'abc123hash', CAST(N'2025-07-18T17:54:48.160' AS DateTime), N'Easy', 0)
INSERT [dbo].[Players] ([PlayerId], [Username], [PasswordHash], [JoinDate], [DefaultDifficulty], [Role]) VALUES (2, N'thanh02', N'def456hash', CAST(N'2024-07-01T00:00:00.000' AS DateTime), N'Medium', 0)
INSERT [dbo].[Players] ([PlayerId], [Username], [PasswordHash], [JoinDate], [DefaultDifficulty], [Role]) VALUES (3, N'huong03', N'xyz789hash', CAST(N'2024-07-01T00:00:00.000' AS DateTime), N'Hard', 0)
SET IDENTITY_INSERT [dbo].[Players] OFF
GO
SET IDENTITY_INSERT [dbo].[Words] ON 

INSERT [dbo].[Words] ([WordId], [Text], [Category], [Difficulty]) VALUES (2, N'apple', N'Fruit', N'Easy')
INSERT [dbo].[Words] ([WordId], [Text], [Category], [Difficulty]) VALUES (3, N'lion', N'Animal', N'Medium')
INSERT [dbo].[Words] ([WordId], [Text], [Category], [Difficulty]) VALUES (4, N'computer', N'Technology', N'Hard')
SET IDENTITY_INSERT [dbo].[Words] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Players__536C85E45F068A69]    Script Date: 7/18/2025 10:39:27 PM ******/
ALTER TABLE [dbo].[Players] ADD  CONSTRAINT [UQ__Players__536C85E45F068A69] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GameHistories] ADD  DEFAULT (getdate()) FOR [PlayedAt]
GO
ALTER TABLE [dbo].[Players] ADD  CONSTRAINT [DF__Players__JoinDat__38996AB5]  DEFAULT (getdate()) FOR [JoinDate]
GO
ALTER TABLE [dbo].[GameHistories]  WITH CHECK ADD  CONSTRAINT [FK_GameHistories_Players] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([PlayerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameHistories] CHECK CONSTRAINT [FK_GameHistories_Players]
GO
ALTER TABLE [dbo].[GameHistories]  WITH CHECK ADD  CONSTRAINT [FK_GameHistories_Words] FOREIGN KEY([WordId])
REFERENCES [dbo].[Words] ([WordId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameHistories] CHECK CONSTRAINT [FK_GameHistories_Words]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [CK__Players__Default__398D8EEE] CHECK  (([DefaultDifficulty]='Hard' OR [DefaultDifficulty]='Medium' OR [DefaultDifficulty]='Easy'))
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [CK__Players__Default__398D8EEE]
GO
ALTER TABLE [dbo].[Words]  WITH CHECK ADD CHECK  (([Difficulty]='Hard' OR [Difficulty]='Medium' OR [Difficulty]='Easy'))
GO
